<p id="notice"><%= notice %></p>

<h1>Listing Operational Systems</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @operational_systems.each do |operational_system| %>
      <tr>
        <td><%= operational_system.name %></td>
        <td><%= link_to 'Show', operational_system %></td>
        <td><%= link_to 'Edit', edit_operational_system_path(operational_system) %></td>
        <td><%= link_to 'Destroy', operational_system, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Operational system', new_operational_system_path %>
